/*---------------------------------------------------------
 * Theme    : Thème KoiFish
 * Par      : EDN | Swan
 * Date     : 16/04/2017
 * Site web :  http://easy-design.net/
 * Commentaire ou autre de l'auteur 
 # Merci de ne pas toucher au entête des fichiers CSS.
 *----------------------------------------------------------*/

/* --------------------------------------
		form.css
Contient les elements : 
 - button,
 - formulaire,
-----------------------------------------*/


/* -- Boutons et class boutons -- */
/* ------------------------------ */

/* --- Normal --- */
button,
.button {
	padding: 0.3em 1em;
	height: auto;
	background-color: #F9F9F9;
	border: 1px solid #CCCCCC;
	border-color: #E1E1E1 #E1E1E1 #BFBFBF #CFCFCF;
	border-radius: 4px;
	color: #333333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
	white-space: nowrap;	
}

button:hover,
.button-hover {
	background-color: #c8d0f0;
	border-color: #333972;
	transition: all 0.1s linear;
}

button:active,
.button-active {
	background-color: #F1F1F1;
	border: 1px solid #DDDDDD;
	box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.2), 0 0 2px rgba(0, 0, 0, 0.05);
}

/* --- Petit bouton --- */
button.small,
.button-small {
	padding: 0.2em 0.5em;
	font-size: 1.1rem;
}

/* --- Bouton de formulaire --- */
button.submit {
    background-color: #c8d0f0 ;
    border-color: #4981b3;
    color: #000000;
}

button.submit:hover {
	background-color: #5d8ac8;
	border-color: #333972;
}

button.reset{
	color: #AA0000;
}

/* -- Formulaires -- */
/* ----------------- */

fieldset {
	margin: 1.5em 0;
	background: none;
	border: none;	
}

fieldset img {
	max-width: 250px;
}

@media (min-width: 769px) {
	fieldset img {
		max-width: 450px;
	}
}

optgroup {
	border: none;
	border-bottom: 1px solid #5B5A5A;
	font-weight: bold;
}

option {
	padding: 0 3px;
}

/* --- Elements de saisie --- */
input[type=text],
input[type=email],
input[type=url],
input[type=number],
input[type=color],
input[type=tel],
input[type=search],
input[type=password],
input[type=file],
textarea,
select {
	padding: 4px 1px 4px 6px;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	border-radius: 4px;
	color: #555555;
}

input[type=text]:hover,
input[type=email]:hover,
input[type=url]:hover,
input[type=number]:hover,
input[type=color]:hover,
input[type=tel]:hover,
input[type=search]:hover,
input[type=password]:hover,
input[type=file]:hover,
textarea:hover,
select:hover {
	background-color: #FFFFFF;
	border: 1px solid #BBBBBB;
	color: #333333;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=number]:focus,
input[type=color]:focus,
input[type=tel]:focus,
input[type=search]:focus,
input[type=password]:focus,
input[type=file]:focus,
textarea:focus,
select:focus {
	border-color: #BBBBBB;
	outline: 0;
	color: #222222;
}

input[type=color] {
	padding: 0 2px 0 2px;
	width: 25px;
}

/* --- Textarea --- */

textarea {
	width: 100%;
	overflow: auto;
	resize: vertical;
}

/* --- Pagination --- */


.news ul.pagination {
	margin-top: 5px;
	text-align: center;
}


.news .pagination ,.pagination{
	background: #efefef;
	border: 1px solid #dddddd;
	font-size: 1em;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
	transition: all 0.2s linear;
	border-radius: 4px;
	padding-left: 0;
    list-style: none inside;
    float: right;
}

.news .pagination li, .pagination li {
    float: left;
    margin: auto;
}

.news .pagination  a, .pagination a {
	display: inline-block !important;
	background: none;
	padding: 2px 6px;
	outline: none;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color:#222222;
}
.news .pagination  a:hover, .pagination a:hover {
	color:#3f7d3b;
}
