/*---------------------------------------------------------
 * Theme    : Thème Universal
 * Par      : EDN | Swan
 * Date     : 17/02/2017
 * Site web :  http://easy-design.net/
 * Commentaire ou autre de l'auteur 
 # Merci de ne pas toucher au entête des fichiers CSS.
 * Contient les conteneurs de mise en page.
 * Le design.css permet de mettre en forme votre site web avec le design de votre choix
 *---------------------------------------------------------
 * Porté par : EDN | Swan
 * Date      : 24/03/2017
 *----------------------------------------------------------*/

/* -- Elements HTML generiques specifique au theme -- */
/* -------------------------------------------------- */
html {
	font-size: 100%;
	font-size: 10px;
}

body {
	background:#FFFFFF url('../images/bg.jpg') no-repeat scroll center center;
	background-attachment: fixed;
	height: auto;
	min-height: 100%;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, 'Bitstream Vera Sans', Times, serif;
	color:#000000;
	font-size: 1.2em;
	position: relative;
	margin: auto;
}


@media (max-width: 768px) {
	body {
		font-size: 1.4em;
	}
}

div#SuperGlobal {
    max-width: 1100px;
    margin: auto;
}

/*#########################
		Entete du site
#########################*/

/* -- En-tete de page - Header -- */
/* ------------------------------ */
header#header {
	background:url('../images/header.png') no-repeat scroll center center;
}

/* --- Partie superieure du header --- */
div#top-header {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	flex-direction: row;
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	margin: auto;
	min-height: 200px;
	max-width: 1250px;
}

div#top-header-content {
	flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	-webkit-flex: 1 1 auto;
}

@media (max-width: 768px) {
	div#top-header {
		flex-direction: column;
		-ms-flex-direction: column;
		-webkit-flex-direction: column;
	}
	
	div#top-header-content {
		align-self: flex-end;
		-ms-align-self: flex-end;
		-webkit-align-self: flex-end;
	}
}

/* --- Partie inferieur du header --- */
div#top-header-bis {
    background-color: rgba(255, 255, 255,0.3);
    border: 1px solid #ccc;	
	margin:auto;
    padding: 0;
    padding-top: 10px;
    padding-left: 5px;
	margin-top: 63px;	
    border-radius: 12px;
    text-align: left;
    min-height: 127px;
    width: 200px;

}

div#sub-header {
	background: transparent url('../images/subheader.png') no-repeat scroll center top;
	min-height: 36px;
	padding: 2px 5px;
	margin:auto;
	text-align:center;
	max-width: 1250px;	
}

@media (max-width:768px) {
	div#sub-header {
		background: rgba(255, 255, 255, 0.5);
		}
}

div#sub-header-content{
	margin: auto;
	max-width: 1024px;
}

/* --  Menu Navigation  -- */
/* ----------------------- */

.barnav {
	font-size: 1em;
	padding-right: 5px;
	color: #000000;
}

ul.connect-content { margin: auto; padding-top: 5px;text-align: center; }
ul.connect-content li { display: inline-block; margin-right: 10px;}
ul.connect-content li , ul.connect-content ul li a {  color: #000000;}

@media (max-width:768px) {
	nav.small-screen {
		margin-right: 0;
		width: 100%;
		height:auto;
	}
	ul.connect-content { 
		margin-block-start:  0px;
		margin-block-end:  0px;
		padding-inline-start: 0px;
		text-align: center;
	}
	ul.connect-content { margin: auto; padding-top: 3px;}
	ul.connect-content li { 
		display: block; 
		margin:auto;
		width: 100%;
		border-top: 1px solid rgba(120, 120, 120, 0.2);
		padding: 0.5em 0 0.5em 0;
	}
	ul.connect-content li , ul.connect-content ul li a {
		padding:1.063em 0 1.063em 0;
		width: 100%;
		border-bottom: 0; 
		color: #000000;
	}
}


/*#########################
	Menu droit du site -bMenu gauche du site
#########################*/

/* -- Conteneur global du site -- */
/* ------------------------------ */
div#global {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	flex-direction: column;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	margin: 1.5em auto 0 auto;
	padding: 0 10px;
	max-width: 1250px;
}

div#main {
	padding: 0 0 10px 0;
	max-width: 100%;
	order : 1;
	-ms-flex-order: 1;
	-webkit-flex-order: 1;
}

aside#menu-left,
aside#menu-right {
	width: 100%;
}

aside#menu-left  {
	order : 2;
	-ms-flex-order: 2;
	-webkit-flex-order: 2;
}
aside#menu-right {
	order : 3;
	-ms-flex-order: 3;
	-webkit-flex-order: 3;
}

@media (min-width: 769px) {
	div#global {
		min-height: 100vh;
		flex-direction: row;
		-ms-flex-direction: row;
		-webkit-flex-direction: row;
	}

	div#main {
		padding: 0 10px;
		order : 2;
		-ms-flex-order: 2;
		-webkit-flex-order: 2;
		flex: 1 0 auto;
		-ms-flex: 1 0 100%;
	}

	aside#menu-left,
	aside#menu-right {
    	width: 200px;
	}

	aside#menu-left  { 
		order : 1;
		-ms-flex-order: 1;
		-webkit-flex-order: 1;
	}
	aside#menu-right { 
		order : 3;
		-ms-flex-order: 3;
		-webkit-flex-order: 3;
	}
	
	#main.main-with-left,
	#main.main-with-right {
		width: calc(100% - 200px);
		-ms-flex: 1 0 auto; /*Tricks IE*/
	}
	
	#main.main-with-left.main-with-right {
		width: calc(100% - 400px);
		-ms-flex: 1 0 auto; /*Tricks IE*/
	}
}


/* -- Contenu de la page -- */
/* ------------------------ */

/* --- Contenu central --- */
div#main-content {
	background-color: rgba(255,255,255, 0.5);
	box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.8);
	padding: 1.5em 0em;
	border-radius:5px
}


/*#############################################
		Containers du site - Modules minis 
#############################################*/
/*-- mini-container des colonnes droite et gauche -- */
/* ------------------------------------------------- */

.module-mini-container {
	background-color: rgba(255,255,255, 0.5);
	box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.8);
	border-spacing: 1px;
	margin: 0 0 10px 0;
	padding: 5px;
    border-radius:5px;	
	clear: both;
}

.module-mini-top {
	padding: 0.2em 0 0.2em 0;
	height: 36px;
	border-bottom: 2px groove #87A3B0;
	text-align: center;
}

.module-mini-container h5,
.module-mini-container h3 {
	color: #A27CB8;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	margin-top: 5px;	
}

.module-mini-contents {
	padding: 0px 4px 0 4px;
	border-top: none;
	border-bottom: none;
	text-align: left;
}

.module-mini-bottom {
	height: 15px;
}



/* mini-container des colonnes droite et gauche */

/* --- Contenu --- */
.content {
	padding: 0 1em;
	text-align: justify;
}

@media (min-width: 769px) {
	div#main.main-with-left.main-with-right section .content {
		padding: 0 5px;
	}
}

@media (max-width: 768px) {
	.content {
		padding: 1em 0;
	}
}

.content + aside {
	clear: both;
}

/* --- Grands Contenus --- */

.container {
    padding: 10px;
}

/* -- Pied de page - Footer -- */
/* --------------------------- */
footer#footer {
	background-color: rgba(255,255,255, 0.5);
	box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.8);
	margin: 30px 0 20px 0;
	width: 100%;
	border-radius:5px;	
	clear: both;
}

footer#footer .footer-content {
	margin: 0 auto 0 auto;
	padding: 1.5em 0;
	max-width: 1024px;
}

footer#footer .footer-infos {
    clear: both;
	margin: 0 auto auto;
	padding: 10px 0 0 0;
	text-align: center;
	min-height: 40px;
}

footer#footer .footer-infos span {
	color: #464646;
	font-size: 0.8em;
}
#seo_social a{
    display: none;
	}
/*======================================
		Alls Media Queries
	CSS applique aux écrans PC & GSM 
========================================*/


@media (max-width:768px) {
	header#header{
		background:none;
		max-width: 100%;
		height: auto;
	}

	img.entete{
		max-width: 100%;
		height: auto;
	}
	div#top-header {

		max-width: 100%;
		min-height: auto;
	}	
	
	footer#footer {
	clear: both;
	margin: auto;
	width: 1250px;
    height: auto;		
	}
	div#footer-bis {  height: 1px;}	
	footer#footer .footer-infos {
		min-height: 40px;
		text-align: center;
		margin-bottom: 0px;
		padding-top: 10px;
	}
	footer#footer {width:100%}

	.footer-infos span {
    display: block;
    padding: 0 0 5px;
	}
	footer#footer .footer-infos {
    min-height: 40px;
    padding-top: 5px;
    text-align: center;
}
	footer#footer .footer-infos span {
	font-size: 0.8em;
}
	span.footer-infos-separator {
		display: none;
	}
}

@media (min-width:769px) {
		img.entete{display: none;}
}