/*---------------------------------------------------------
 * Theme    : Thème Windlight
 * Par      : EDN | Swan
 * Date     : 19/04/2017
 * Site web :  http://easy-design.net/
 * Commentaire ou autre de l'auteur 
 # Merci de ne pas toucher au entête des fichiers CSS.
 * Contient les conteneurs de mise en page.
 * Le design.css permet de mettre en forme votre site web avec le design de votre choix
 *----------------------------------------------------------*
 *
/* -- Elements HTML generiques specifique au theme -- */
/* -------------------------------------------------- */

/* afficher le texte sélectionné en jaune sur fond rouge */
::-moz-selection { color:#efefef;  background: #091C44; }
::selection     { color:#efefef;  background: #091C44; }

/* afficher le texte sélectionné dans un paragraphe en blanc sur fond noir */
p::-moz-selection { color:#efefef;  background: #091C44; }
p::selection      { color:#efefef;  background: #091C44; }

html {
	font-size: 100%;
	font-size: 10px;
}

body {
	background:#FFFFFF url('images/bg.png') repeat-x scroll center top;
	height: auto;
	min-height: 100%;
	font-family:Verdana,Geneva,sans-serif;
	font-size: 1.2em;
	color:#464646;
	position: relative;
	margin: auto;
}


@media (max-width: 768px) {
	body {
		font-size: 1.4em;
	}
}

div#SuperGlobal {
    max-width: 1250px;
    margin: auto;
}

#siteName{
    display: none;
}

/*#########################
		Entete du site
#########################*/

/* -- En-tete de page - Header -- */
/* ------------------------------ */
header#header {
    background: url('images/header.png') no-repeat scroll center center transparent;
}

/* --- Partie superieure du header --- */
div#top-header {
	background: url('images/titre.png') no-repeat scroll center 0 transparent;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	flex-direction: row;
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	margin: auto;
	min-height: 240px;
	max-width: 1250px;
}

@media (max-width: 768px) {
	div#top-header {
		flex-direction: column;
		-ms-flex-direction: column;
		-webkit-flex-direction: column;
	}
}

/* --- Partie inferieur du header --- */

div#sub-header {
	background: #FFFFFF url('images/small-bg.png') repeat-x scroll 0 0;
	border-top: 1px solid #cccccc;
	margin:auto;
	text-align:center;
	border-radius: 12px;
	min-height: 35px;
	max-width: 1250px;	
}

.sub-deco {
	background: rgba(0, 0, 0, 0.0) url('../images/sub-header-left.png') no-repeat right center;
	height: 35px;
	margin: auto;
	padding-top: 10px;
	margin-bottom: 20px;
}

div#sub-header-content{
	margin: auto;
	max-width: 1024px;
}


/* --  Menu Navigation  -- */
/* ----------------------- */

#navigation{
    display: block;
    list-style: none;
    margin: 0;
    font-size: 12px;
    overflow: hidden;
	margin: auto;
	padding-top: 5px;
	text-align: center; 
	width: 98%;
}

ul#navigation { max-width: 1024px; }


#navigation li{
    /*float: left;*/
display: inline-block; 
margin-right: 10px;
}

#navigation a{
    display: block;
	font-size: 1em;
	padding-right: 5px;
	color: #A27CB8;
	text-decoration: none;
	font-weight: bold;
    transition: all 0.5s ease;
}

#navigation a:hover{
    color: #A27CB8;
}

#navigation a:before{ 
	content:".:|:. ";
	font-weight: normal;
}

#navigation li ul{
    display: none;
    position: absolute;	
    list-style: none;
    background: #fff;
    box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.30);
}

#navigation li:hover ul{
    display: block;
}

#navigation li ul li{
    clear: both;
    width: 100%;
}

@media (max-width:768px) {
	nav.small-screen {
		margin-right: 0;
		width: 100%;
		height:auto;
	}
	ul#navigation { width: 100%; text-align:center; }
	
	ul.connect-content { 
		margin-block-start:  0px;
		margin-block-end:  0px;
		padding-inline-start: 0px;
		text-align: center;
	}
	ul.connect-content { margin: auto; padding-top: 3px;}
	ul.connect-content li { 
		display: block; 
		margin:auto;
		width: 100%;
		border-top: 1px solid rgba(120, 120, 120, 0.2);
		padding: 0.5em 0 0.5em 0;
	}
	ul.connect-content li , ul.connect-content ul li a {
		padding:1.063em 0 1.063em 0;
		width: 100%;
		border-bottom: 0; 
		color: #000000;
	}
}



/*############################################
	Menu droit du site - Menu gauche du site
##############################################*/

/* -- Flèche de masquage de la colonne droite & gauche-- */
/* ----------------------------------------------------- */

#hide-left { float:left; margin: 8px 0 0 13px; position: absolute;}
#hide-right { float:right; margin: 8px 0 13px 0;position: relative;}

.fa.fa-arrow-left { color: rgba(255,255,255, 0.6);}
.fa.fa-arrow-right { color: rgba(255,255,255, 0.6);}

@media (max-width:768px) {
#hide-left, #hide-right { display:none; }
}


/* -- Conteneur global du site -- */
/* ------------------------------ */
div#global {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	flex-direction: column;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	margin: 1.5em auto 0 auto;
	padding: 0 10px;
	max-width: 1250px;
}

div#main {
	padding: 0 0 10px 0;
	max-width: 100%;
	order : 1;
	-ms-flex-order: 1;
	-webkit-flex-order: 1;
}

aside#menu-left,
aside#menu-right {
	width: 100%;
}

aside#menu-left  {
	order : 2;
	-ms-flex-order: 2;
	-webkit-flex-order: 2;
}
aside#menu-right {
	order : 3;
	-ms-flex-order: 3;
	-webkit-flex-order: 3;
}

@media (min-width: 769px) {
	div#global {
		min-height: 100vh;
		flex-direction: row;
		-ms-flex-direction: row;
		-webkit-flex-direction: row;
	}

	div#main {
		padding: 0 10px;
		order : 2;
		-ms-flex-order: 2;
		-webkit-flex-order: 2;
		flex: 1 0 auto;
		-ms-flex: 1 0 100%;
		margin-bottom: 30px;		
	}

	aside#menu-left,
	aside#menu-right {
    	width: 250px;
	}

	aside#menu-left  { 
		order : 1;
		-ms-flex-order: 1;
		-webkit-flex-order: 1;
	}
	aside#menu-right { 
		order : 3;
		-ms-flex-order: 3;
		-webkit-flex-order: 3;
	}
	
	#main.main-with-left,
	#main.main-with-right {
		width: calc(100% - 250px);
		-ms-flex: 1 0 auto; /*Tricks IE*/
	}
	
	#main.main-with-left.main-with-right {
		width: calc(100% - 500px);
		-ms-flex: 1 0 auto; /*Tricks IE*/
	}
}


/* -- Contenu de la page -- */
/* ------------------------ */

/* --- Contenu central --- */
div#main-content {
	background: transparent url('images/small-bg.png') repeat-x scroll 0 0;
	border: 1px solid #cccccc;
	padding: 1.5em 0em;
	border-radius:12px
}

.sous-main {
    background: transparent url('images/bottom.png') repeat-x scroll center bottom;
    border-radius: 12px;
}
/*#############################################
		Containers du site - Modules minis 
#############################################*/
/*-- mini-container des colonnes droite et gauche -- */
/* ------------------------------------------------- */

.module-mini-container {
	background:#FFFFFF url('images/small-bg.png') repeat-x scroll 0 0;
	border: 1px solid #CCCCCC;
	border-bottom: 2px solid #EAD4EB;
	border-spacing: 1px;
	margin: 0 0 10px 0;
	padding: 5px;
    border-radius:12px;	
	clear: both;
}

.module-mini-top {
	background:rgba(0, 0, 0, 0.0) url('images/left.png') no-repeat scroll right center;
	padding: 0.2em 0 0.2em 0;
	height: 24px;
	text-align: center;
}

.module-mini-container h5,
.module-mini-container h3 {
	color: #A27CB8;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	margin-top: 5px;	
}

.module-mini-contents {
	padding: 0px 4px 0 4px;
	border-top: none;
	border-bottom: none;
	text-align: left;
}

.module-mini-bottom {
	height: 15px;
}



/* mini-container des colonnes droite et gauche */

/* --- Contenu --- */
#content {
	padding: 0 1em;
	text-align: justify;
}

@media (min-width: 769px) {
	div#main.main-with-left.main-with-right section .content {
		padding: 0 5px;
	}
}

@media (max-width: 768px) {
	.content {
		padding: 1em 0;
	}
}

.content + aside {
	clear: both;
}

/* --- Grands Contenus --- */

.container {
    padding: 10px;
}

/* -- Pied de page - Footer -- */
/* --------------------------- */
footer#footer {
	background: transparent url('images/bottom.png') repeat-x scroll 0 bottom;
	margin-top: 30px;
	width: 100%;
	clear: both;
}

footer#footer .footer-content {
	margin: 0 auto 0 auto;
	padding: 1.5em 0;
	max-width: 1024px;
}

footer#footer .footer-infos {
    clear: both;
	margin: 0 auto auto;
	padding: 0;
	text-align: center;
	min-height: 90px;
}

footer#footer .footer-infos span {
	color: #464646;
	font-size: 0.8em;
}


/*##################################
        Réseaux sociaux            
####################################*/

#social {
    height: 55px;
    margin: auto;
    padding: 0px;
    width: 256px;
}

#social ul {
    list-style: outside none none;
    margin: 0px;
    padding: 0px;
}

#social ul li {
    float: left;
    margin: 0px;
    padding: 0px;
}

#social ul li a {
    color: #ffffff;
    display: block;
    float: left;
    font-size: 80%;
    height: 50px;
    padding-left: 35px;
    text-decoration: none;
    text-transform: uppercase;
}

#social ul li a span {
	 cursor: pointer;
	 display: block;
	 float: left;
	 height: 50px;
	 text-align: center;
}

#social ul li a:hover, #social ul li.active a {
    
}

#social ul li a:hover span, #social ul li.active a span {
    
}

#fb, #twt, #yt {
	background:#DDBADF;
	border-radius:50%;
	width:50px;
	height:50px;
	font-size: 4.2em;	
}

.fa-facebook, .fa-twitter, .fa-youtube {
	font-size: 35px;
	color: #fff;	 
}

.fade:hover {
     opacity: 0.5;
}

#seo_social a{
    display: none;
	}

/*======================================
		Alls Media Queries
	CSS applique aux écrans PC & GSM 
========================================*/


@media (max-width:768px) {
	header#header{
		background: none;
		max-width: 96%;
		height: auto;
		margin: 30px auto;
	}

	img.entete{
		max-width: 100%;
		height: auto;
	}
	div#top-header {

		max-width: 100%;
		min-height: auto;
	}	
	
	footer#footer {
	clear: both;
	margin: auto;
	width: 1250px;
    height: auto;		
	}
	div#footer-bis {  height: 1px;}	
	footer#footer .footer-infos {
		min-height: 40px;
		text-align: center;
		margin-bottom: 0px;
		padding-top: 10px;
	}
	footer#footer {width:100%}

	.footer-infos span {
    display: block;
    padding: 0 0 5px;
	}
	footer#footer .footer-infos {
    min-height: 40px;
    padding-top: 5px;
    text-align: center;
}
	footer#footer .footer-infos span {
	font-size: 0.8em;
}
	span.footer-infos-separator {
		display: none;
	}
}

@media (min-width:769px) {
		img.entete{display: none;}
}

